@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #090909;
  --theme-bg: #fef2f2;
  --theme-light-bg: #fee2e2;
  --theme-dark-bg: #7f1d1d;
  --theme-accent: #ef4444;
  --theme-text: #b91c1c;
  --theme-dark-text: #fecaca;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

/* Add the animation for modal fade-in */
.animate-fade-in-fast {
  animation: fadeIn 0.2s ease-out forwards;
}
